<div class="blog-container">
    <div class="blog">
        <h4 class="blog-title"><%= blog.title %></h4>
        <div class="blog-author"><%= blog.author %></div>
        <div class="blog-content">
            <p class="blog-paragraph">
                <%= blog.content %>
            </p>
        </div>
    </div>
    <h3 style="display: block; clear: both;">See other blogs:</h3>
    <div class="blog-suggest">
        <% newest_blog.forEach(element => { %>
            <div class="blog-block">
                <a class="blog-title" href="<%= element.id %>"><%= element.title %></a>
                <div class="blog-preview"><%= element.preview %></div>
            </div>
        <% }) %>
    </div>
    
    </div>
</div>